

*{
    box-sizing: border-box;
}

.banner{
    position: relative;
    background: url(https://images.unsplash.com/photo-1544847558-3ccacb31ee7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);  
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.navbar-toggler-icon {
    color: white;
}
.banner h1 {
    margin: 0;
    padding: 0;
    font-size: 3.5em;
    color: white;
    text-decoration: underline !important;
    text-decoration-color: #9d4316 !important;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.banner h3 {
    margin: 0;
    padding: 0;
    font-size: 2.8;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#Name {
    text-decoration: underline !important;
    text-decoration-color: #9d4316 !important;
}



.navbar{
    color: #f4f4ef;
    background: #06263b!important;
}

.nav-item :hover{
    background: #596a6163;
    transition: .5s;
    color: #f4f4ef !important;
    text-decoration: underline;
    text-decoration-color: #9d4316;
}

a{
    color: #FAFAFA;
    text-decoration: underline;
}

button {
    margin-top: 20px;
    background: #06263b !important;
}

button:hover {
    text-decoration: underline !important;
    text-decoration-color: #9d4316 !important;
}

.fixed-bottom{
    height: 60px;
    color: #F4F4EF; 
    background: #06263b !important;
    margin-bottom: 0;
}

@media (max-width: 750px) {


}